*{
    padding: 0;
    margin:0;
  }
  
  body {
    overflow-x: hidden;
   
  }
  
  html{
    font-size: 62.5%;
  }

  body{
    background-color: bisque;
  }

  .imgprinc{
    max-width: auto;
  }

  .promos{
    text-align: center;
    flex: content;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5%;
    background-color: rgb(4, 4, 12);
    color: aliceblue;
  }
  
  .titulo{
    margin-top: 5%;
    margin-bottom: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: calc(5.375rem + 1.5vw);   
  }

  .texto{
    font-family: 'Oswald', sans-serif;
    font-size: 3vh;
  
  }

  .foot{
    background-image: url("../img/footer/Captura\ de\ pantalla\ 2022-07-14\ 013310.png");
    background-position: 0vw;
    
    background-repeat: no-repeat;
    
    padding: 20vh;
    margin-bottom: ovh;
    margin-bottom: auto;
  }

  .iralInicio{
    color: red;
    font-size: 5rem;  
  }

  .video{
    margin: 20px;
    padding-bottom: 30vh;
  }

  


  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@200&display=swap');