 /*grid container secciones*/
  
 .grid-container{
  
    display: grid;
    grid-template-columns: 10% auto 5% ;
    grid-template-rows:   repeat(3,auto);
    gap: 20px;
  
    background-color: rgb(255, 255, 255);
    border: none;
  }
  
  .grid-container >*{
  
    text-align: center;
    color:black;
  
  }
  
  header,main, footer{
    grid-column: 1/span 3 ;
  }
  
  @media all and ( max-width:600px){
     main, aside, footer {grid-column: 1/ span 3;}
  
    .grid-container{
        grid-template-rows: repeat(6,300px);
        background-color:none;
  
            }
        }


        @media (max-width:320px){
          main, aside, footer {grid-column: 1/ span 3;}
          .grid-container{
            grid-template-rows: repeat(6,300px);
            background-color:$coloRfond;
      }
    }
      



