
  /*fondosideleft*/
  
  .left{
    background-image: url('../img/hombre/fondo\ -left.jpg');
    background-repeat: repeat-y;
  }

  #leftContacto{
    background-color:none
    ;
    background-image: url('../img/fondocontacto.jpg');
  }